.Cotiza {
  @extend %texto;
  padding-top: 120px;
  margin: 20px;
  background-color: $color-parrafo;
  color: $color-primario;
  display: grid;
  h1 {
    @include desliza-desde-abajo(1s);
    padding: 5px;
    @include tamaño-fuente(2rem, 2rem, 2.5rem);
    @include color($color-primario, $color-claro);
  }
  p {
    @include desliza-desde-abajo(1s);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    @include tamaño-fuente(1rem, 1.25rem, 1.5rem);
    @include color($color-primario, $color-claro);
  }
  video {
    @include desliza-desde-abajo(1s);
    background-color: black;
    max-width: 100%;
    padding: 10px;
    margin: 20px;
    @include radio-borde(0.5rem);
    @include sombra-caja(0, 0.5rem, 1rem, 0, rgba(0, 0, 0, 0.4));
    @include desliza-desde-derecha(1s);
    @media only screen and (max-width: $pequeño) {
      max-width: 90%;
    }
    &:hover {
      transform: scale(1.05);
    }
  }
  form {
  padding: 25px;
    label {
      font-weight: bold;
      margin-right: 0.5rem;
    }
    input {
      @include radio-borde(0.25rem);
      @include transicion(border-color, 0.3s, ease-in-out);
      &:focus {
        border-color: $color-secundario;
        outline: none;
      }
    }
    button {
      @extend %button;
      background-color: $color-secundario;
      @include color($color-parrafo, $color-claro);
    }
  }
}
