$color-primario-index: #5ea4ee;

body {
  background: linear-gradient(to right, $color-primario, $color-claro);
}
.jumbotron {
  margin-top: 100px;
  @extend %texto;
  @include tamaño-fuente(2rem, 2.5rem, 3rem);
  @include radio-borde(0.5rem);
  @include sombra-caja(0, 0.5rem, 1rem, 0, rgba(0, 0, 0, 0.4));
}
.hero-video {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
    @media (min-width: $grande) {
    height: 600px;
  }
  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  }
.container {
  @extend %texto;
  @include desliza-desde-derecha(2s);
  background-color: transparent;
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  @media (max-width: $pequeño) { 
    padding: 15px; 
    flex-direction: column; 
  @media (min-width: $mediano) and (max-width: $grande) { 
    justify-content: space-around; 
  }
  }
  @media (min-width: $grande) { 
    justify-content: space-between; 
    height: 60%;
  }
}
.btn {
  @extend %button;
}
.img {
  max-inline-size: 100%;
  block-size: auto; 
  @media (max-width: $pequeño) {
    max-inline-size: 50%;
    min-inline-size: 40vw; 
    margin-block-start : rem(0);
    margin-block-end : rem(0);
    margin-inline-start : auto; 
    margin-inline-end : auto; 
    display: block;
  }
}
.white-box {
  background-color: $color-parrafo;
  padding: 5%;
  @include transicion(all, 0.3s, ease-in-out);
  @media (max-width: $pequeño) {
    max-inline-size: none; 
    block-size: auto;
  }
}
.servicios {
  @extend %texto;
  background-color: $color-parrafo;
  flex-direction: row;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  @media (max-width: $pequeño) {
    margin-top: 225px;

  }
}
.servicio{
  @include desliza-desde-izquierda(2s);
  background-color: $color-parrafo;
  width: 33.33%;
  padding: 3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  @media (max-width: $pequeño) {
    width: 100%;
    padding: 1rem;
  }
}
