.Nosotros {
  @extend %texto;
  margin-top: 100px;
  padding: 2rem;
  background-color: $color-parrafo;
  color: $color-primario;
  .Equipo {
    .team-members {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: 
        "carlos francisco antonio"
        "carlos francisco antonio";
        @media (max-width: 768px) {
          display:flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      .miembro {
        @include desliza-desde-abajo(1.3s);
        border: 2px solid $color-primario;
        img {
          max-width: 70%;
          max-height: 70%;
          margin: auto;
          @include radio-borde(0.5rem);
          @include transicion(all, 0.5s, ease-in-out);
          &:hover {
            transform: scale(1.05);
          }
        }
        h2 {
          @include tamaño-fuente(1.5rem, 2rem, 2.5rem);
          @include color($color-claro, $color-primario);
          margin-top: 0.5rem;
          text-align: center;
        }
        p {
          padding: 1rem;
          @include tamaño-fuente(1rem, 1.25rem, 1.5rem);
          @include color($color-claro, $color-primario);
          margin-bottom: 0.5rem;
          text-align: center;
        }
        &:nth-child(1) {
          grid-area: carlos;
        }
        &:nth-child(2) {
          grid-area: francisco;
        }
        &:nth-child(3) {
          grid-area: antonio;
        }
      }
    }
  }
}